.side
  = render 'shared/side_bar'

.main
  .main__header
    .main__header__left
      .main__header__left--group
        = @group.name
      .main__header__left--member
        member:
        - @group.users.each do |user|
          = user.name
    .main__header__right
      .main__header__right--edit
        = link_to "Edit", edit_group_path(@group)

  .main__body
    = render @messages

  .main__footer
    .main__footer--form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'main__footer--form__message', placeholder: "type a message"
        .main__footer--form--img
          = f.label :image, class: 'main__footer--form--img--icon' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'main__footer--form--img__submit'