.side
  .side__header
    %h3.side__header--user
      = current_user.name
    .side__header--account
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog'
    .side__header--new
      = link_to new_group_path do
        = fa_icon 'edit'

  .side__body
    .side__body--group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side__body--group__name
            = group.name
          .side__body--message
            = group.show_last_message